@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: #1A92D3;
    --grey: #E2E8EF;
    --bborder: 1px solid black;
    --width-small-profile: 45px;
    --height-small-profile: 45px;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

p {
    color: #636363;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
}

.small-profile {
    width: var(--width-small-profile);
    height: var(--height-small-profile);
}

.container {
    display: grid;
    grid-template-columns: minmax(225px, 1fr) 4fr;
    text-align: center;
}

/* START HEADER */
.header {
    grid-column: 2 / -1;
    /* is a grid */
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: relative;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.search-and-profile {
    display: grid;
    grid-template-columns: 100%;
    justify-content: start;
    padding: 20px 10px 20px 50px;
    gap: 30px;
}

.search {
    display: grid;
}

.search-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.profile-text {
    text-align: left;
}

.profile-text p{
    font-size: 0.8rem;
    font-weight: 700;
}

.profile-text h2 {
    padding-top: 5px;
    font-size: 1.2rem;
}

.search-grid input {
    flex: 1;
    border-radius: 15px;
    border: none;
    background-color: var(--grey);
    height: 29px;
    padding-left: 15px;
}

.interact {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    gap: 15px;
}

.interact-notification{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 30px;
}

.interact-buttons {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.interact button {
    background-color: var(--main-color);
    border: none;
    padding: 8px 0;
    color: white;
    border-radius: 20px;
    width: 85px;
}


/* END HEADER */


/* START SIDEBAR */
.sidebar {
    background-color: var(--main-color);
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-row: 1 / span 2;
}

.sidebar h1{
    text-align: left;
    font-size:1.2rem;
}

.logo {
    padding-left: 0px;
    position:relative;
    left:-12px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}


.first-links,
.second-links {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-weight: 600;
}

.first-links {
    margin-bottom: 50px;
}

.first-links li,
.second-links li{
    border :none;
    display: flex;
    align-items: end;
    gap: 15px;
}

.first-links img,
.second-links img {
    width: 24px;
}

/* END SIDEBAR */


/* START MAIN-CONTENT */
.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: var(--grey);
    padding-left: 20px;
    padding-top: 37px;
    padding-bottom: 70px;
    gap: 25px;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.projects h3 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 15px;
}


.project {
    text-align: left;
    padding: 35px 30px;
    border-radius: 8px;
    border-left: 0 solid #F0B429;
    border-left-color: #F0B429;
    border-left-width: 7px;
    background-color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0.5, 0.15);
    /* is a grid */
    display: grid;
    grid-template-rows: 4fr 1fr;
    gap: 10px
}

.projects h4 {
    margin-bottom: 5px;
}

.project-text {
    border: none;
}

.project-text p {
    text-overflow: ellipsis;
    overflow: hidden;
}

.project-interact {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    /* border: var(--bborder) */
}
/* END MAIN-CONTENT */


/* START RIGHT-BAR */

.right-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    text-align: left;
    gap: 45px;
}

.announcements-container {
    background-color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0.5, 0.15);
    border-radius: 8px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.announcements h3{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 15px;
}

.announcement-border {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.announcements h4 {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.announcements p {
    font-size: 0.8rem;
}

.trending-container {
    background-color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0.5, 0.15);
    border-radius: 8px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}


.trending h3{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 15px;
}

.all-twitter {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.twitter-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8rem;
}

/* the name of twitter profile with @ */
.twitter-profile p:first-child{
    font-weight: 600;
    color: black;
}

/*the first div is the image  */
.trending-container > div > div:first-child {
    display: flex;
    align-items: center;
}




/* END RIGHT-BAR */